{
  "extends": [
    "oclif",
    "oclif-typescript",
    "eslint:recommended"
  ],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "settings": {
    "node": {
      "tryExtensions": [".js", ".ts"]
    }
  }
}
